{% extends 'base.html' %}

{% block content %}
    <div id="form" class="section">
        <h1>Créer un client</h1>

        {% if error %}
        <p>{{ error }}</p>
        {% endif %}

        <form method="POST" action="/collaborators/create/">
            <label for="full_name">Nom complet :</label><br>
            <input type="text" id="full_name" name="full_name" required><br><br>

            <label for="email">Email :</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="phone">Téléphone :</label><br>
            <input type="text" id="phone" name="phone" required><br><br>

            <label for="company_name">Société :</label><br>
            <input type="text" id="company_name" name="company_name" required><br><br>

            <label for="last_contact_date">Dernier Contact :</label><br>
            <input type="text" id="last_contact_date" name="last_contact_date" required><br><br>

            <button type="submit">Créer</button>
        </form>
    </div>
{% endblock %}