{% extends 'base.html' %}

{% block content %}
<div id="contracts" class="section">
    <h2>détail du contrats</h2>
    <table>
        <tr><th>ID</th>
            <th>Client</th>
            <th>Montant Total</th>
            <th>Restant due</th>
            <th>creation Date</th>
            <th>Signed</th>
        </tr>
        <tr>
            <td>{{ contract.id }}</td>
            <td>{{ contract.client.company_name }}</td>
            <td>{{ contract.total_amount }}</td>
            <td>{{ contract.amount_due }}</td>
            <td>{{ contract.created_date }}</td>
            <td>{{ contract.signed }}</td>
        </tr>
    </table>
    <p>commercial en charge :  {{ contract.client.commercial.full_name }}</p>
</div>
<div id="events" class="section">
    <h2>détail de l'événement lié</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Collaborateur</th>
            <th>Date Début</th>
            <th>Date fin</th>
        </tr>
        <tr>
            <td><a href="/events/{{ contract.event.id }}/">{{ contract.event.id }}</a></td>
            <td>{{ contract.event.title }}</td>
            <td>{{ contract.event.support.full_name }}</td>
            <td>{{ contract.event.start_date }}</td>
            <td>{{ contract.event.end_date }}</td>
        </tr>
    </table>
    <p>note :  {{ contract.event.notes }}</p>
</div>
{% endblock %}