body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 150px 1fr;
    grid-template-areas:
      "header header"
      "sidebar section";
    height: 100vh;
}
.header-grid {
    grid-area: header;
    display: grid;
    grid-template-columns: 200px 2fr 2fr;
    grid-template-rows: 1fr 1fr 30px;
    color: white;
    text-align: end;
    height: 100px;
    padding: 20px;
    background-color: #2c3e50;
    gap: 10px;

}

/* Logo : colonne 1, lignes 1-2 */
.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 80px;
    align-self: center;
    justify-self: center;
}

/* Texte : colonnes 2-3, lignes 1-2 */
.header-title {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: flex-start;
    margin: 5px;
    padding-top : 10px;
    padding-left: 50px;
}

/* Boutons : colonne 3, ligne 3 */
.header-buttons {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    justify-self: end;
    align-self: end;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.header-buttons button {
    padding: 8px 12px;
    cursor: pointer;
}

button:hover {
    background-color: #34495e
}

button {
    background-color: #2c3e50;
    color: white;
    padding: 7px;
    border-radius: 14px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #34495e;
    padding: 20px;
    box-sizing: border-box;
}

.section {
    grid-area: section;
    padding: 20px;
    background-color: #ecf0f1;
    box-sizing: border-box;
    overflow-y: auto;
}

.nav-button {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #bdc3c7;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2c3e50;
    color: white;
}

th a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    background-color: gray;
}
th a:hover {
    background-color: green ;
}
td a {
    text-decoration: none;
}

.error {
    color: red;
    font-size: 15px;
}
